alias proj  'cd /project/swbuild9/ejitkol'
alias evs   'cd /project/swbuild9/ejitkol/evs.git'
alias feat  'cd /project/swbuild9/ejitkol/features.git'
alias relssr 'cd /project/swbuild9/ejitkol/rel_ssr'
alias img   'cd /home/sysbuild/images/swfeature_int/'
alias scr   'cd /scratch/9/ejitkol'
alias rib   'cd pkt/sw/se/xc/bsd/routing/rib'
alias hub   'login-hub'
alias lx    'login-lxapp3'
alias sim   'login-ssrsim'
alias vi    'vim'
